.toast-container {
  min-width: 300px;
  min-height: 150px;
  max-width: 500px;
  font-size: 25px;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  pointer-events: none;
}

.toast-container .toast {
  padding: 10px 20px;
  border-radius: 500px;
  color: white;
  pointer-events: auto; 
  min-width: 200px;
}

.success { background-color: rgb(83, 177, 83); }
.error { background-color: rgb(202, 59, 59); }