<div class="container mt-4" *ngIf="movie$ | async as movie">

  <div class="details-card">

    <!-- Image -->
    <img [src]="movie.imageUrl" class="details-img">

    <div class="details-body">

      <div *ngIf="!isEditMode">
        <h2>{{ movie.title }}</h2>
      </div>

   <p *ngIf="!isEditMode"><strong>Title:</strong> {{ movie.title }}</p>
   <div *ngIf="isEditMode">
     <label><strong>Title:</strong></label>
     <input [(ngModel)]="movie.title" class="form-control mb-2">
   </div>
   
   <p *ngIf="!isEditMode"><strong>Director:</strong> {{ movie.directors }}</p>
   <div *ngIf="isEditMode">
     <label><strong>Director:</strong></label>
     <input [(ngModel)]="movie.directors" class="form-control mb-2">
   </div>
   
   <p *ngIf="!isEditMode"><strong>Actors:</strong> {{ movie.actors }}</p>
   <div *ngIf="isEditMode">
     <label><strong>Actors:</strong></label>
     <input [(ngModel)]="movie.actors" class="form-control mb-2">
   </div>
   
   <p *ngIf="!isEditMode"><strong>Genre:</strong> {{ movie.genres }}</p>
   <div *ngIf="isEditMode">
     <label><strong>Genre:</strong></label>
     <input [(ngModel)]="movie.genres" class="form-control mb-2">
   </div>
   
   <p *ngIf="!isEditMode"><strong>Rating:</strong> {{ movie.rating }}</p>
   <div *ngIf="isEditMode">
     <label><strong>Rating:</strong></label>
     <input type="number" [(ngModel)]="movie.rating" class="form-control mb-2">
   </div>

      <!-- Buttons -->
      <div class="btn-group mt-3">
        <button *ngIf="!isEditMode" class="btn btn-primary" (click)="enableEdit()"> Edit </button>
        <button *ngIf="isEditMode" class="btn btn-success" (click)="updateMovie(movie)"> Save </button>
        <button class="btn btn-danger" (click)="deleteMovie()"> Delete </button>
      </div>

    </div>
  </div>

</div>